{{define "main"}}
<!doctype html>
    <head>
        <title>Application Name</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/stylesheet/style.css"> -->
<style>
.button {
    float: right;
    background-color:IndianRed;
    border-radius: 50%;
    font-size: 48px;
}
.button:hover{
    background-color:FireBrick;
}

</style>
    </head>
    <body>
        <H1 style="text-align: center"> Welcome to Main Page </h1>
        <input class="button" type="button" onclick="location.href='/add';" value="+"/>
        <ul>
            {{range .}}
            <li>{{.Name}}</li>
            {{end}}    
        </ul>


   </body>
</html>
{{end}}
